/**
    Theme Name:  WLA_Test
    Author: Alexandr Romaniukha;
*/

body {
    background: white;
    /*background-image: url(http://wpfolder/wp-content/themes/wla_theme/img/underwater.jpg);*/
}
header {
    background: #145676;
    width: 60%;
    height: 55px;
    position: relative;
    margin: 0 auto 0;
    display: block;
}
.bg-dark {
    background-color: #145676 !important;
}
.wpsisac-slide-wrap {
    width: 960px;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wpsisac-image-slide-wrap {
    width: 225px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bg-color-custom {
    background-color: #CDDBE9;
    width: 60%;
    position: relative;
    margin: 0 auto 0;
}
.text-color-custom {
    color: white;
    width: 60%;
    height: 30px;
    position: relative;
    margin: 0 auto 0;
    display: block;
    background-color: #145676;
}
.front-page-font {
    font-size: 12px;
    font-family: verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin-top: 20px;
}
.font {
    font-family: verdana, Arial, Helvetica, sans-serif;
}
.flickrbox .holder {
    display: block;
    width: 300px;
    margin-bottom: 20px;
}
.flickrbox h2 {
    margin-bottom: 15px;
}
.flickrbox .list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flickrbox .list {
    padding: 4px;
    color: #402720;
    background-color: #FFFFFF;
}
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.holder p.title img {
    float: left;
    margin: 0px 8px 0 0;
    padding: 5px;
}
.holder p.readmore {
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: right;
    line-height: normal;
}
h5 {
    border-bottom: 1px dotted #4C4C4C;
    padding: 0 0 8px 0 font-size: 20px font-weight: normal margin-bottom: 10px;
    border-bottom-color: #98989A;
    text-align: center;
}
.left-column {
    display: flex;
    flex-wrap: wrap;
    max-width: 66%;
}
.right-column {
    display: flex;
    flex-wrap: wrap;
    max-width: 33%;
}